/* ---
REF ITEMS
---

GRIDS

grid-template
row-gap
grid-area  */

/* FUNDAMENTAL */

@font-face {
    font-family: 'PPMonumentExtended-Light';
    src: url('../fonts/PPMonumentExtended-Light.woff2') format('woff2');
}

:root {
    --main-font: PPMonumentExtended-Light;
    --bg-color: #c5c5c5;
    --color: #111111;
    --color-accent: #ffffff;
  }
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--color);
    font-family: var(--main-font);
    line-height: 1.2;
  }
  
  html, body {   
      /* height: 100%;      */
      overflow-x: hidden;
      
  }
  
  p{
      font-family: var(--main-font);
      font-size: 24px;
      line-height: 1.2;
      letter-spacing: 0.15px; 
  }
  
  a{
      text-decoration: none;
      color:var(--color);
      transition: color 0.5s;
      font-family: var(--main-font);
      background: none;
  }
  
  a:hover {
      color: var(--color-accent);
      transition: color 0.5s;
  
  }
  
  a:current {
      color: var(--color-accent);
      transition: color 0.5s;
      filter: blur(0px);
  }
  
  img {
      width: 100%;
  }
  
  video {
      width: 100%;
  }
  
  video::-webkit-media-controls {
      display:none !important;
  }
  
  .canvas{
      max-width: 1800px;
      margin:0 auto;
  }

/* NAVIGATION */

.nav-top{
    position: fixed;
  
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #c5c5c5;
    

    align-items: center;
    justify-content: space-between;

    padding-left: 40px;
    padding-right: 40px;
    z-index: 333;
    
}

.nav-bottom{
    position: fixed;
  
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #c5c5c5;
    bottom: 0;
    

    align-items: center;
    justify-content: space-between;

    padding-left: 40px;
    padding-right: 40px;
    z-index: 333;
    
}

.button{
    font-size: 50px;
}

.button-1{
    grid-area: 1 / 1 / span 1 / span 1; 
}

.button-2{
    grid-area: 1 / 3 / span 1 / span 1; 
}

.button-3{
    grid-area: 1 / 5 / span 1 / span 1; 
}

.button-4{
    grid-area: 1 / 10 / span 1 / span 1; 
    text-align: right;
}

.button-5{
    grid-area: 1 / 12 / span 1 / span 1; 
    text-align: right;
}

.intro{
    align-items: center;
    margin: 75px 0px 50px 0px;
    max-width: 500px;
}

/* MAIN */

.project-info{

    margin: 100px 0 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
}

.project-video{
    margin-top:50px;
    margin-bottom: 50px;
    padding: 40px;
}

.project-image{
    width:100%;
}

.image-group{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    margin-bottom: 50px;
    align-items: center;
}
.image-group-2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

}

.image-group-3{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
    align-items: center;
}

/* LIGHT-DARK MODE */

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1a1a1a;
        --color:#e5e5e5;
    }

}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #e5e5e5;
        --color:#1a1a1a;
    }
} */

@media only screen and (max-width: 750px){

    .canvas{
        padding: 20px 20px 0px 20px;
    }

    .project-info, .image-group, .image-group-2, .image-group-3{
        grid-template-columns: 1fr;
        align-items: center;
    }

}

@media only screen and (max-width: 1240px){
 
}