/* FUNDAMENTAL */

@font-face {
    font-family: 'PP-Monument-Extended';
    src: url('fonts/PPMonumentExtended-Regular.woff2') format('woff2');

}

:root {
    --main-font: PP-Monument-Extended;
    --bg-color: #839eab;
    --color: #FFFFFF;
    --color-accent: #0084ff;

  }
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: var(--bg-color); */
  color: var(--color);
  font-family: var(--main-font);
  line-height: 1.2;
}

html, body {   
    /* height: 100%;      */
    overflow-x: hidden;
    
}

p{
    font-family: var(--main-font);
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.15px; 
}

a{
    text-decoration: none;
    color:var(--color-accent);
    transition: color 0.3s;
    font-family: var(--main-font);
}


a:hover {
    color: var(--color-accent);
    transition: color 0.3s;
}

a:active {
    color: var(--color-accent);
    transition: color 0.3s;
}

/* video */

.bg-video{
    width: 100vw;
    height: 100vh;
  }
  
   iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
  }

  @media (min-aspect-ratio: 16/9) {
    .bg-video iframe {
      height: 56.25vw;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .bg-video iframe {
      width: 177.78vh;
    }
  }
  


/* NAVIGATION */

.navBar {
    
    font-size: 16px;
    letter-spacing: 0.3px;
    padding:20px;
    height:100vh;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, 1fr);
    gap: 20px;
    position: fixed;
    z-index: 10;
    
}

.title{
    grid-area: 1 / 1 / span 1 / span 3;
    }
    
.subt{
    grid-area: 2 / 1 / span 1 / span 3;
}

.bio{
    grid-area: 1 / 4 / span 3 / span 3;
}

.contact{
    grid-area: 1 / 8 / span 1 / span 3;
}

.availability{
    grid-area: 2 / 8 / span 1 / span 3;
}

.time-place{
    grid-area: 1 / 11 / span 2 / span 2;
    text-align: right;
}

#time{
    font-size: 20px;
}

/* MAIN */


a.linkItem{
    font-size: 20px;
    font-family: var(--main-font);
    color: var(--color);
  }

a.linkItem:hover {
    color: var(--color-accent);
    transition: color 0.3s;
}
a.linkItem:active {
    color: var(--color-accent);
    transition: color 0.3s;
}


/* LIGHT-DARK MODE */

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1a1a1a;
        --color:#e5e5e5;
    }

}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #e5e5e5;
        --color:#1a1a1a;
    }
} */



@media only screen and (max-width: 750px){

}

@media only screen and (max-width: 480px){

    .navBar {
    
        font-size: 16px;
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
        position: fixed;
        z-index: 10;
        
    }
    
    .title{
        grid-area: 1 / 1 / span 1 / span 1;
        }
        
    .subt{
        grid-area: 2 / 1 / span 1 / span 1;
    
    }
    
    .bio{
        grid-area: 3 / 1 / span 2 / span 2;
    }
    
    .contact{
        grid-area: 5 / 1 / span 1 / span 2;
    }
    
    .availability{
        grid-area: 6 / 1 / span 1 / span 1;
    }
    
    .time-place{
        grid-area: 6 / 2 / span 1 / span 1;
        text-align: right;
    }
 
}