/* FUNDAMENTAL */

@font-face {
    font-family: 'PPMonument';
    src: url('fonts/PPMonumentExtended-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'PPMori-Regular';
    src: url('fonts/PPMori-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'PPMori-SemiBold';
    src: url('fonts/PPMori-SemiBold.woff2') format('woff2');
}
:root {
    --main-font: PPMonument;
    --bg-color: #000000;
    --color: #ffffff;
    --color-accent: #ff5e00;
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: var(--bg-color); */
  color: var(--color);
  font-family: var(--main-font);
  line-height: 1.2;
  /* overflow: hidden; */
}

html{   
    /* height: 100%;      */
    
}

body{
    background: url(images/thumbs/thumb-laue.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a{
    text-decoration: none;
    color:var(--color);
    transition: color 0.5s;
    font-family: var(--main-font);
    background: none;
}

a:hover {
    color: var(--color-accent);
    transition: color 0.5s;

}

.contact{
    /* color: var(--color-accent); */
    text-decoration: underline;
}

.canvas{
    max-width: 100%;
    margin: 0 auto;
    /* padding: 30px; */
}



/* NAVIGATION */

.nav-top{

    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* gap: 30px; */
    padding:20px;

    position: fixed;
    background: none;

}

.button{
    font-size: 50px;
}

.button-1{
    grid-area: 1 / 1 / span 1 / span 1; 
}

.button-2{
    grid-area: 1 / 4 / span 1 / span 1; 
    /* text-align: right; */
}

/* ABOUT */

.bio-grid{
    
    width: 100%;
    height: 100vh;
    /* padding: 30px; */
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8,1fr);
    gap: 30px;
    /* align-items: center; */
    justify-content: center;
    background: none;
    z-index: 10;
    padding: 20px;

}

.bio{

    grid-area: 4 / 7 / span 1 / span 4 ;
    font-family: var(--main-font);
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 0.15px; 
    background: none;
    z-index: 10;
    text-align: left;
    
}


/* LIGHT-DARK MODE */

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1a1a1a;
        --color:#e5e5e5;
    }

}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #e5e5e5;
        --color:#1a1a1a;
    }
} */

@media only screen and (max-width: 750px){

}

@media only screen and (max-width: 480px){

    .button{
        font-size: 35px;
    }

    .bio-grid{

        display: flex;
        flex-direction: column;
        padding-top: 200px;
        padding-bottom: 200px;

    }

    .bio-image{
        border-radius: 10px;
    }
    .bio{
        font-size: 16px;
    }

    

 
}
