/* FUNDAMENTAL */

@font-face {
    font-family: 'PPNeueMontreal-Regular';
    src: url('fonts/PPNeueMontreal-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url('fonts/PPNeueMontreal-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'PP-Monument-Extended-Black';
    src: url('fonts/PPMonumentExtended-Black.woff2') format('woff2');
}

:root {
    --main-font: PPNeueMontreal-Medium;
    --bg-color: #c5c5c5;
    --color: #111111;
    --color-accent: #ffffff;
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--color);
  font-family: var(--main-font);
  line-height: 1.2;
}

html, body {   
    /* height: 100%;      */
    overflow-x: hidden;
    
}

p{
    font-family: var(--main-font);
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.15px; 
}

a{
    text-decoration: none;
    color:var(--color);
    transition: color 0.5s;
    font-family: var(--main-font);
    background: none;
}

a:hover {
    color: var(--color-accent);
    transition: color 0.5s;
}

a:active {
    color: var(--color-accent);
    transition: color 0.5s;
}

img {
    width: 100%;
}

video {
    width: 100%;
}

video::-webkit-media-controls {
    display:none !important;
}

.canvas{
    /* max-width: 1600px; */
    margin:0 auto;
}

/* NAVIGATION */

.nav{
    
    
    padding:30px;
    height:100vh;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    row-gap: 20px;
    background: none;
    z-index: 10;
    position: fixed;

}

.navbuttons{
    
    font-size: 50px;
    z-index: 10;
    background: none;
}

.navbutton-1{
    grid-area: 1 / 1 / span 1 / span 1;  
    
}

.navbutton-2{ 
    grid-area: 1 / 2 / span 1 / span 1; 
    text-align: right;
}

.navbutton-3{ 
    grid-area: 8 / 1 / span 1 / span 1;
    align-self: flex-end; 
}

.navbutton-4{ 
    grid-area: 8 / 2 / span 1 / span 1; 
    text-align: right;
    align-self: flex-end;
}

.cover{
    display:flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.banner{
    padding:30px 180px 80px 180px;
    font-size: 50px;
    text-align: center;
}




/* PROJECTS */

.projects{
    width: 100%;
    padding:20px; 
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 180px;
    gap: 40px;

}

.project-image{
  
    border-radius: 10px;

}

.project-thumb-1{
    grid-area: 1 / 1 / span 1 / span 1; 
}

.project-thumb-2{
    grid-area: 1 / 2 / span 1 / span 1; 
}

.project-thumb-3{
    grid-area: 2 / 1 / span 1 / span 1; 
}

.project-thumb-4{
    grid-area: 2 / 2 / span 1 / span 1; 
}

.client {

    padding-top:5px;
    font-family: 'PPNeueMontreal-Medium';
    font-size: 30px;
  
}

/* ABOUT */

.bio-grid{
    height: 100vh;
    width: 100%;
    padding:30px; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
    background: none;
    z-index: 10;

}

.bio{

    grid-area: 2 / 2 / span 4 / span 2 ;
    font-family: var(--main-font);
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.15px; 
    background: none;
    z-index: 10;
    
}
.bio-image{
    grid-area: 2 / 4 / span 4 / span 2 ;
}

/* LIGHT-DARK MODE */

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1a1a1a;
        --color:#e5e5e5;
    }

}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #e5e5e5;
        --color:#1a1a1a;
    }
} */

@media only screen and (max-width: 750px){

}

@media only screen and (max-width: 480px){

    .navbuttons {
    
        font-size: 36px;
        
    }

    .banner{
        padding:30px 30px 80px 30px;
        font-size: 30px;
        text-align: center;
    }

    .projects{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 30px 30px 120px 30px;
        gap: 30px;
    }

    .project-thumb-1{
        grid-area: 1 / 1 / span 1 / span 1; 
    }
    
    .project-thumb-2{
        grid-area: 2 / 1 / span 1 / span 1; 
    }
    
    .project-thumb-3{
        grid-area: 3 / 1 / span 1 / span 1; 
    }
    
    .project-thumb-4{
        grid-area: 4 / 1 / span 1 / span 1; 
    }

    .bio-grid{

        display: flex;
        flex-direction: column;
        padding-top: 200px;
        padding-bottom: 200px;

    }

    .bio-image{
        border-radius: 10px;
    }
    .bio{
        font-size: 18px;
    }

    

 
}
